body {
	color: #000;
}

.nunito-sans-A {
	font-family: 'Nunito Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-variation-settings: 'wdth' 100, 'YTLC' 500;
}

.nunito-sans-B {
	font-family: 'Nunito Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'wdth' 100, 'YTLC' 500;
}

.logo-icon {
	width: 330px;
	height: 330px;
	margin-bottom: 50px;
}

.logo-text {
	font-size: 8rem;
}

.logo-text1 {
	line-height: 1.5;
}

.white {
	color: #fff;
}

.interval1 {
	width: 20%;
}

.interval2 {
	width: 20%;
}

.interval3 {
	width: 50%;
	margin-left: 40px;
}

.custom-btn {
	background-color: #fff;
	color: #000;
	border: 2px solid #fff;
	border-radius: 47px;
	font-weight: bold;
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5); /* Эффект свечения */
	margin-top: -40px;
}

.custom-btn {
	width: 330px; /* Устанавливаем фиксированную ширину */
	height: 60px; /* Устанавливаем фиксированную высоту */
}

.custom-btn1 {
	width: 180px; /* Устанавливаем фиксированную ширину */
	height: 60px; /* Устанавливаем фиксированную высоту */
}

.lole {
	width: 50%;
}

/* 2 страница */

.navbar {
	background-color: #151514d2;
	width: 104%;
	margin-top: auto;
}

.navbar-nav .nav-item .nav-link {
	position: relative;
}

.navbar-nav .nav-item .nav-link::before {
	content: '';
	position: absolute;
	bottom: -2px; /* Отступ от нижней границы ссылки */
	left: 0;
	width: 0;
	height: 2px;
	background-color: #fff; /* Цвет полоски */
	transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover::before {
	width: 100%; /* При наведении полоска растягивается на всю ширину ссылки */
}

.navbar-nav .nav-item .nav-link.active::before {
	width: 100%; /* Для активной ссылки полоска всегда отображается */
}

.navbar-nav .nav-item {
	margin-right: 6rem; /* Увеличили отступ между элементами */
}

.logo-nav {
	width: 52px; /* Размер иконки */
	height: 52px;
	margin-left: 30px;
}

.profile {
	width: 40px; /* Размер иконки */
	height: 40px;
	margin-left: 30px; /* Отступ между текстом и иконкой */
}

.nav-item {
	font-size: 20px;
}

/* пространство */

.button-container button {
	background-color: #fff;
	color: #000;
	border: none;
	padding: 10px 25px;
	border-radius: 5px;
}

.prostranstvo {
	padding-left: 60px;
	padding-top: 60px;
}

.card {
	border: none;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card1 {
	margin-top: 60px;
}

.imgbut {
	position: relative;
}

.img-fluid {
	width: 100%;
	height: 300px;
	border-radius: 20px 20px 0px 0px;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between; /* Размещение элементов по вертикали */
	align-items: flex-start; /* Выравнивание элементов по левому краю */
	padding: 20px 20px 5px 12px; /* Отступы от края изображения */
}

.button-container {
	display: flex;
	gap: 60px; /* Отступ между кнопками */
}

.title {
	color: #000000;
	font-size: 22px;
	background-color: #ffffff;

	padding: 8px 20px 8px 20px;
	border-radius: 5px;
}

.card-img-top {
	height: 200px; /* Подберите подходящую высоту */
	object-fit: cover;
}

/* AAAAAAA */

.card-body {
	background-color: #f3f3f3;
	border-radius: 0px 0px 20px 20px;
}

.time-btn {
	background-color: #dce7e6;
	border: none;
	transition: background-color 0.3s, color 0.3s; /* Добавили плавную смену цвета текста */
	color: #000;
	flex-grow: 1; /* Кнопки займут всю доступную ширину */
	padding: 10px;
}

.selected {
	background-color: #86aeaa;
	color: #fff;
}

.btn-group-width {
	display: flex;
	flex-wrap: wrap;
	gap: 10px; /* Отступ между кнопками */
	margin-bottom: 10px;
}

.time-btn:hover {
	cursor: pointer;
	background-color: #86aeaa;
	color: #fff;
}

.time-btn.active {
	background-color: #86aeaa;
}

.time-btn.disabled {
	background-color: #ccc;
	cursor: not-allowed;
	pointer-events: none;
}

.zabranirovat {
	background-color: #43716b;
	color: #fff;
	margin-left: 30px;
}

.podrobnee {
	background-color: #ffffff;
	color: #000;
	margin-left: 30px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 2 блок */

span {
	background-color: #86aeaa;
	color: #ffffff;
	border: none;
	padding: 5px 16px;
	border-radius: 5px;
	font-size: 16px;
}

.card-title {
	color: #000;
}

.invitation-details {
	margin-top: 20px;
}

.invitation-actions {
	margin-top: 20px;
}

.podrobnee1 {
	background-color: #43716b;
	color: #fff;
}

.otclonit {
	background-color: #ffffff;
	color: #000;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	margin-left: 10px;
}

h4 {
	margin-bottom: 20px;
}

.card-otstup {
	margin-top: 20px;
}

.card-body-radius {
	background-color: #f3f3f3;
	border-radius: 20px;
}

.form-control {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
}

/* окно */

.modal {
	--cui-modal-width: 700px;
}

.form-select {
	height: auto; /* Увеличиваем высоту для многострочного списка */
}

.krasivo {
	background-color: #86aeaa;
	color: #ffffff;
	border: none;
	padding: 5px 16px;
	border-radius: 5px;
	font-size: 16px;
}
